body{
    background-color: gainsboro;
}


h5 {
  font-size: 2.5rem;
  color: #8b0000;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

#total-geral{
  position: fixed;          
    top: 20px;            
    right: 20px;             
    background-color: black; 
    color: white;             
    padding: 10px 20px;      
    border-radius: 10px;      
    font-weight: bold;        
    font-size: 1.2rem;        
    z-index: 1000; 
}

.card-quantity {
    font-size: 1.0rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    display: flex;
    width: 60px;
  }

  .top-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
  }

  .back-button {
    background-color: #8b0000;
        color: white;
        border: 2px solid #8b0000;
        padding: 15px;
        font-size: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
  }
  
  .back-button:hover {
    background-color: #500202;
        border-color: #5e0404;
        box-shadow: 0 4px 8px rgba(0, 86, 179, 0.3);
  }
  
  .back-button:focus {
    outline: none;
        box-shadow: 0 0 0 4px rgba(126, 5, 5, 0.5);
  }

  .total-pedido {
    background-color: #8b0000; 
    color: white; 
    padding: 15px 20px;
    margin-top: 15px; 
    border-radius: 8px; 
    font-size: 1.3rem; 
    font-weight: bold; 
    text-align: center; 
  }
  
  
  .total-pedido .valor {
    font-size: 1.6rem; 
    color: #fff;
    margin-top: 10px; 
  }
  
  .total-geral{
    background-color: aqua;
  }

  .Frase{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:white;
    font-size: 1.2rem;
    font-weight: bold;

  }