/* Estilo do modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Conteúdo do modal */
.modal-content {
    background-color: gray;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-total {
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

#finalizar-pedido {
    background-color: #df0b0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}

#finalizar-pedido:hover {
    background-color: #500202;
}


#abrir-modal {
    position: fixed;         
    left: 20px;               
    bottom: 20px;             
    font-size: 30px;          
    background-color: #fff;   
    border: 2px solid #df0b0b;
    border-radius: 50%;      
    padding: 15px;            
    cursor: pointer;        
    color: #df0b0b;          
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    z-index: 1000;            
}


#abrir-modal:hover {
    background-color: #df0b0b; 
    color: #fff;               
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1);       
}

#abrir-modal:active {
    transform: scale(1);       
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#abrir-modal:focus {
    outline: none;              
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
