<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Granolas - Catálogo</title>
    <link rel="stylesheet" href="stylesheets/cardapio.css" />
    <link rel="stylesheet" href="stylesheets/carrinho.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <a href="/">
        <img src="images/Logo.png" alt="Logo do Restaurante" />
      </a>
      <h1>Livraria dos Granolas</h1>
        <h5>história e cultura</h5>
    </header>

    <!-- Cardápio -->
    <div class="container cardapio-section">
      <h2
        class="text-center mb-5"
        style="font-size: 2.5rem; color: #8b0000; text-align: center"
      >
        Nosso Catálogo
      </h2>

      <!-- Formulário de Pedido -->
      <form action="/finalizar_pedido" method="POST">
        <!-- Categoria historia -->
        <div class="cardapio-category">
          <h3>Livros de história</h3>
        
          
          <ul id="lista-Massa" class="list-group mt-3">
            <!-- Massas do Firebase -->
          </ul>
        </div>

        <!-- Categoria de Romance -->
        <div class="cardapio-category">
          <h3>Livros de Românce</h3>

          <ul id="lista-Pizzas" class="list-group mt-3">
            <!-- Pizzas do Firebase -->
          </ul>
        </div>

        <!-- Categoria de Acao -->
        <div class="cardapio-category">
          <h3>Livros de Ação</h3>

          <ul id="lista-Sobremesas" class="list-group mt-3">
            <!-- Sobremesas do Firebase -->
          </ul>
        </div>

        <!-- Categoria de Terror -->
        <div class="cardapio-category">
          <h3>Livros de Terror</h3>

          <ul id="lista-Bebidas" class="list-group mt-3">
            <!-- Bebidas do Firebase -->
          </ul>
        </div>
      </form>
    </div>

    <!-- Footer -->
    <footer class="text-center mt-4 py-3">
      <p>
        Aguardamos sua visita!<br />
        Rua Flamengo, 100 - Feira de Santana<br />
        Telefone: (75) 99283-4894
      </p>
    </footer>

    <div id="carrinho-modal" class="modal">
      <div class="modal-content">
        <span class="fechar">&times;</span>
        <h2>Carrinho de Compras</h2>
        <ul id="modal-carrinho-itens"></ul>
        <div id="modal-total" class="modal-total">Total: R$ 0,00</div>
        <button id="finalizar-pedido" class="btn btn-primary">
          Finalizar Pedido
        </button>
      </div>
    </div>

    <!-- Ícone do carrinho -->
    <i id="abrir-modal" class="fas fa-shopping-cart"></i>

    <script src="/javascripts/AtualizarPreco.js"></script>
    <script src="/javascripts/Carrinho.js"></script>
    <script src="/javascripts/EnviarCarrinho.js" type="module"></script>
    <script src="javascripts/CarregarItens/Bebidas.js" type="module"></script>
    <script
      src="javascripts/CarregarItens/Sobremesas.js"
      type="module"
    ></script>
    <script src="javascripts/CarregarItens/Pizza.js" type="module"></script>
    <script src="javascripts/CarregarItens/Massa.js" type="module"></script>
  </body>
</html>