<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Livro</title>
  <link rel="stylesheet" href="/stylesheets/AddPrato.css">
</head>

<body>

  <div class="top-bar">
    <button class="back-button" onclick="window.location.href = '/Dashboard'">←</button>
  </div>

  <h1>ADICIONAR LIVRO</h1>

  <form id="crudForm">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" required>

    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" required>

    <label for="imagem">URL da Imagem:</label>
    <input type="text" id="imagem" required>

    <label for="preco">Preço:</label>
    <input type="number" id="preco" step="0.01" required>

    <label for="categoria">Categoria:</label>
    <select id="categoria" required>
      <option value="">Selecione...</option>
      <option value="Massa">história</option>
      <option value="Pizza">Romance</option>
      <option value="Sobremesa">Ação</option>
      <option value="Bebidas">Terror</option>
    </select>

    <button type="submit" class="Enviar">Adicionar Item</button>
  </form>

  <script type="module" src="/javascripts/firebase.js"></script>

</body>

</html>