<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/cardapio.css">
    <link rel="stylesheet" href="stylesheets/Vizualizar.css">
</head>

<body>

    <div class="top-bar">
        <button class="back-button" onclick="window.location.href = '/Dashboard'">←</button>
    </div>
    
        <h5>Pedidos Finalizados</h5>
        <p id="total-geral">Total Geral: R$ 0,00</p>

    <ul id="lista-itens" class="list-group mt-3">
        <!-- Itens do Firebase -->
    </ul>



    <script src="javascripts/Vizualizar.js" type="module"></script>
</body>

</html>